<div class="center jumbotron">
  <div class="text-center">
    <h3>
      ようこそ！<br>
      みんなで勉強<br>
      「筋トレ・ダイエット編」へ！
    </h3>
    
    <p>
      このアプリは、筋トレやダイエットを<br>
      「ゆるく」学ぶ掲示板アプリです！<br>
      知りたい情報は人それぞれなので、<br>
      以下の３ジャンルを用意しています！
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="center jumbotron col-sm">
      <h5 style="text-align: center;">１．筋肉をつける</h5>
      <p style="font-size: 10px;">
        筋肉をつけたい人は迷わずこれ！「筋肉をつけるにはどうしたらいいか？」そのノウハウをみんなが投稿しています！ジャンルは「腕・胸・背中・お腹・下半身・体幹」の６つを用意！各投稿の下にハッシュタグが付いているので「どこを鍛えるためのノウハウか？」が一目瞭然！（#筋肉をつける#腕　なら腕の鍛え方）
      </p>
    </div>
    <div class="center jumbotron offset-sm-1 col-sm">
      <h5 style="text-align: center;">２．痩せたい</h5>
      <p style="font-size: 10px;">
        ダイエット目的の人はこれ！意外と難しい「痩せる」こと、そのノウハウをみんなが投稿しています！ジャンルは「ランニング・ランニング以外」の2つを用意！各投稿の下にハッシュタグが付いているので「ランニングなのか、それとも他のメニューなのか？」が一目瞭然！（#痩せたい#ランニング以外　ならランニング以外で痩せる方法）
      </p>
    </div>
    <div class="center jumbotron offset-sm-1 col-sm">
      <h5 style="text-align: center;">３．食事面</h5>
      <p style="font-size: 10px;">
        筋トレやダイエットにおいて「何をどう食べるか？」はとてもとても重要！手軽に実践できる「おすすめの食事」をみんなが投稿しています！ジャンルは「プロテイン・おすすめコンビニ飯・かんたん自炊・食べてはいけないもの」の４つを用意！各投稿の下にハッシュタグが付いているので「どんな食べ物なのか？」が一目瞭然！（#食事面#おすすめコンビニ飯　ならコンビニで買えるおすすめの食材）
      </p>
    </div>
  </div>
</div>

<div class="center jumbotron">
  <div class="text-center">
    <h5>投稿を「いいね」しよう！</h5>
    <p style="font-size: 10px;">いいねした投稿は「いいね一覧ページ」で全部見返せます！自分に必要なノウハウのみをここで「ゆるく」学ぼう！深く学べなくても大丈夫、ここで得た知識があれば、自分でネット検索してしっかり勉強する作業もスムーズにできるはずです！</p>
  </div>
</div>

<div class="center jumbotron">
  <div class="text-center">
    <h5>自らもお役立ち情報を発信！</h5>
    <p style="font-size: 10px;">自ら投稿することもできます！自分でやってみて、効果があったものはどんどん投稿しよう！</p>
  </div>
</div>

<div class="center jumbotron">
  <div class="text-center">
    <h5>作成者からのメッセージ</h5>
    <p class="text-left" style="font-size: 10px;">
      　筋トレ、ダイエット、難しいですよね？何から始めたらいいかわからない、効果が出ない、あんなにやったのに、色々あると思います。私も大学まで野球部でしたが、生まれつき身体が小さく、筋トレをしてもなかなか成果が出ませんでした。上のレベルに進むほどにパワー不足が露呈され、活躍できない、悔しかったです。「このままで終わりたくない」その一心からジムに通い、同時にやり方の勉強もしました。そしたら、４か月で体重＋５kg、体脂肪率－４％を達成できたのです。そうして臨んだ大学最後のリーグ戦で、私は2本のホームランが打てました。ホームランなんて、高校時代は打ったことがありません。<br>
      　<br>
      　本当にうれしかった。<br>
      　<br>
      　この時初めて「考えてやる」ことの大事さに気が付きました。<br>
      　<br>
      　「少し」でいいんです、筋トレもダイエットも「考えてやる」だけで効果がずいぶん違います。考えてやれば、何も毎日何時間もやる必要はないんです。やる日はやる、お酒飲む日は飲む、程よくやってたまには身体に悪いこともやっちゃう、プロアスリートでもない限りこれでも十分だと思います！この掲示板アプリで「ゆるく」学んで、気になることだけをネットで詳しく調べる、その手助けになればと思います！皆さんにとってこのアプリが、筋トレやダイエットの「はじめの一歩」となりますように、、。
    </p>
  </div>
</div>

<p class="mt-2 text-center">ユーザー登録がまだの方は<%= link_to "こちら", signup_path %></p>
<p class="mt-2 text-center">ログインページは<%= link_to "こちら", login_path %></p>