<div class="center jumbotron">
  <div class="text-center">
    <h3>
      ようこそ！<br>
      みんなで勉強<br>
      「筋トレ・ダイエット編」へ！
    </h3>
    
    <p>
      早速、みんなの投稿を見たり、<br>
      自ら発信してみましょう！
    </p>
  </div>
</div>

<p class="mt-2 text-center">投稿一覧ページは<%= link_to "こちら", posts_path %></p>
<p class="mt-2 text-center">新規投稿ページは<%= link_to "こちら", new_post_path %></p>