<div class="container" style="margin-bottom: 50px;">
  <h1 class="text-center" style="font-weight: bold;">「痩せたい」一覧</h1>
</div>


<%= render "posts/posts", posts: @posts2 %>

<div style="margin: 0 auto;">
  <%= paginate @posts2 %>
</div>
