<h1>投稿一覧</h1>
<p></p>

<h3>筋肉をつける</h3>
<%= render "posts/posts_muscle", posts: @posts %>

<h3>痩せたい</h3>
<%= render "posts/posts_diet", posts: @posts %>

<h3>食事面</h3>
<%= render "posts/posts_food", posts: @posts %>