<div class="container" style="margin-bottom: 50px;">
  <h1 class="text-center" style="font-weight: bold;">「筋肉をつける」一覧</h1>
</div>


<%= render "posts/posts", posts: @posts1 %>


<%= paginate @posts1 %>
